# environment
/env
# My Env
/traffic-env

# static
/static

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
/__pycache__
/*/__pycache__

# VS Code Config Folder
/.vscode

#Jetbrains IDE'S
/.idea
# Local Netlify folder
.netlify